<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhfeiyu.business.mappers.category.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.lhfeiyu.business.model.Category">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="priority" jdbcType="SMALLINT" property="priority" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="edit_user_id" jdbcType="BIGINT" property="editUserId" />
    <result column="edit_user_name" jdbcType="VARCHAR" property="editUserName" />
    <result column="edit_date" jdbcType="TIMESTAMP" property="editDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, category_name, priority, status, create_user_id, create_user_name, 
    create_date, edit_user_id, edit_user_name, edit_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lhfeiyu.business.model.Category">
    insert into category (id, parent_id, category_name, 
      priority, status, create_user_id, 
      create_user_name, create_date, edit_user_id, 
      edit_user_name, edit_date)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, 
      #{priority,jdbcType=SMALLINT}, #{status,jdbcType=TINYINT}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{editUserId,jdbcType=BIGINT}, 
      #{editUserName,jdbcType=VARCHAR}, #{editDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lhfeiyu.business.model.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="editUserId != null">
        edit_user_id,
      </if>
      <if test="editUserName != null">
        edit_user_name,
      </if>
      <if test="editDate != null">
        edit_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        #{editUserId,jdbcType=BIGINT},
      </if>
      <if test="editUserName != null">
        #{editUserName,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null">
        #{editDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhfeiyu.business.model.Category">
    update category
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserId != null">
        edit_user_id = #{editUserId,jdbcType=BIGINT},
      </if>
      <if test="editUserName != null">
        edit_user_name = #{editUserName,jdbcType=VARCHAR},
      </if>
      <if test="editDate != null">
        edit_date = #{editDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhfeiyu.business.model.Category">
    update category
    set parent_id = #{parentId,jdbcType=BIGINT},
      category_name = #{categoryName,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=SMALLINT},
      status = #{status,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      edit_user_id = #{editUserId,jdbcType=BIGINT},
      edit_user_name = #{editUserName,jdbcType=VARCHAR},
      edit_date = #{editDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>